body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

#sidebar {
    background-color: black;
    float: left;
    height: 100%;
    width: 12em;
}

.sidebarBtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
}

#sidebarOpener {
    background-color: black;
    padding-bottom: 1em;
}

.sidebarLink {
    padding-left: 1em;
    line-height: 6em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.sidebarBtn:hover {
    color: red;
}

.sidebarLink:hover {
    color: green;
}

    .sidebarLink:hover::before {
        padding-left: 1em;
        content: " ";
    }

.grayscale {
    filter: grayscale(100%);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 18%;
    opacity: 0.5;
}

fieldset {
    border: 3px groove black;
}

legend{
    font-weight: bold;
}



/*edits*/
.mydatagrid {
    width: 100%;
    border: none;
    min-width: 80%;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 16px;
    color:black;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: #ff8000;
        font-family: Arial;
        color: black;
        text-align: left;
    }

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: black;   
    font-weight: bold;
    text-align: left;
}

.mydatagrid a  {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover  {
        background-color: #000;
        color: #fff;
    }

.mydatagrid span  {
    background-color: #c9c9c9;
    color:black;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
